
body {
  background-color: black;
}

#TopText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  height: auto;
  max-width: 100%;
  overflow-wrap: break-word;  
}

.Big {
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Mid {
  font-size: 35px;
}
/* I will fix the alligning issues later */
div {
  font-size: 35px;
}

button {
  background-color:rgb(1, 2, 78);
}
